Asset/Graphics
Library/Artifacts/
Library/ArtifactDB/

Library/il2cpp_cache/linkresult_7A56A04A77DDFD732F3A4262AE56CD5A/build.bc
Library/Il2cppBuildCache/WebGL/Native/build.bc
Library\ArtifactDB\

Library/PlayerDataCache/Win/Data/sharedassets1.assets.resS
Library/il2cpp_cache/linkresult_E532BA73AF4BA1433766B8A9EE3FC89F/